body {
background:#B9B3AF;
color:#000;
margin:0;
padding:0 0 0 20px
}

body,a,td {
font:15px Verdana,Tahoma,sans-serif
}

input,button,th {
font:13px Verdana,Tahoma,sans-serif
}

button,th {
font-weight:700
}

td {
background:#E1E0DF
}

td,th {
border:0;
padding:2px 4px;
text-align:left
}

td a:link,td a:visited {
color:#275680;
text-shadow:0 0 0 rgba(0,0,0,0.5)
}

td a:hover {
color:#000
}

td,button,input {
-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
box-shadow:0 1px 2px rgba(0,0,0,0.5)
}

h1 {
/*line-height:0;*/
margin:12px 0 0 0
}

h1,h1 a:link,h1 a:visited {
font-size:41px;
font-weight:500
}

h1,a,td a:hover,button {
text-shadow:0 1px 1px rgba(0,0,0,0.5)
}

a:link,a:visited {
color:#275680;
font-weight:700;
text-decoration:none
}

a:hover {
color:#000
}

input {
margin:0 0 6px 0;
padding:0 0 0 4px;
width:520px
}

button {
background:#275680;
color:#FFF;
cursor:pointer;
margin:2px 0 0 5px;
padding:2px 4px 5px 4px
}

input,button {
border:0;
height:24px
}
